
  <tr>
    <td><%= my_gem.name %></td>

    <td><%= link_to 'Show', my_gem %></td>
    <td><%= link_to 'Edit', edit_my_gem_path(my_gem) %></td>
    <td><%= link_to 'Remove', my_gem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

